.container-1 {
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    /* Esta parte especifica el tamaño de cada columna. */
    grid-template-columns: 150px 150px 150px;
    /* Esta parte especifica el tamaño de cada fila */
    /* grid-template-rows: 100px 100px; */
    /* Esta parte nos asegura que cada fila nueva creada tendra 100px */
    grid-auto-rows: 150px;
    /* justify-content: center;
    align-content: center; */
    /* esta propiedad hace el trabajo de justify y align */
    place-content: center; 
    gap: 15px;
    padding: 70px;
    justify-items: end;
    align-items: start;
}

.second-item {
    place-self: center;
}

.item-1 {
    border: 5px solid #00bcd4;
    font-size: 4rem;
}

.container-2 {
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    /* Esta parte especifica el tamaño de cada columna en especifico */
    grid-template-rows: 100px 200px;
    /* Esta parte especifica el tamaño de cada fila que se crea */
    grid-auto-columns: 100px;
    grid-auto-flow: column; 
    /* Gap es el tamaño que hay entre filas y columnas, tambien se puede usar solo gap */
    row-gap: 20px;
    column-gap: 30px;
}

.item-2 {
    border: 5px solid #00bcd4;
    font-size: 4rem;
}

.container-3 {
    font-weight: bolder;
    color: white;
    margin: 15px;
    display: grid;
    grid-auto-columns: 100px;
    grid-template-columns: 100px 100px;
    grid-auto-flow: column;
    grid-template-rows: 100px 100px 100px;
    gap: 20px;
    position: relative;
}

.item-3 {
    background-color: green;
    position: relative;
    text-align: right;
    position: relative;
    bottom: 0!important;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
}

.container-4 {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 150px 150px;
    grid-auto-rows: 150px;
    place-content: center;
    background-color: yellowgreen;
    margin-left: auto;
    margin-right: auto;
    width: 310px;
    gap: 10px;
}

.item-4 {
    background-color: rgb(88, 138, 14);
    padding: 10px;
    place-self: end;   
}

.container-5 {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 75px 75px 75px;
    background-color: #e1bee7;
    place-content: center;
}

.it-5-1 {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: aqua;
}

.it-5-2 {
    background-color: #fff1ff;
    /* grid-row-start: 2;
    grid-row-end: 4; */
    grid-row: 2 / 4;
}

.it-5-3 {
    background-color: rgb(105, 150, 190);
    grid-area: 2 / 2 / 4 / 4;
}

.container-6 {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 100px 100px 100px;
    background-color: #e1be65;
    place-content: center;
    grid-template-areas: 
    "header header header"
    "side   main   main"
    "side   main   main";
}

.it-6-1 {
    background-color: aqua;
    grid-area: header;
    text-align: center;
    line-height: 100px;
}

.it-6-2 {
    background-color: #871231;
    grid-area: side;
}

.it-6-3 {
    background-color: #665463;
    grid-area: main;
}

.container-0 {
    display: grid;
    background-color: #871231;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: minmax(30px, 150px) 100px minmax(30px, 150px);
    place-content: center;
}

.container-fit {
    border: 5px solid aqua;
    background-color: #fff1ff;
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: 1fr 3fr min-content 2fr;
    place-content: center;
}

.it-1 {
    border: 5px solid black;
    font-size: 2rem;
}

.it-2 {
    border: 5px solid black;
    font-size: 2rem;
}
.it-3 {
    border: 5px solid black;
    font-size: 2rem;
}

.it-4 {
    border: 5px solid black;
    font-size: 2rem;
}

.it-0-1 {
    background-color: #e1be65;
}

.it-0-2 {
    background-color: #e1be26;
}

.it-0-3 {
    background-color: #e1bd15;
}

.con-1 {
    border: 5px solid aqua;
    background-color: #fff1ff;
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    place-content: center; 
}

.item-con-1 {
    border: 1px solid aqua;
}

.con-2 {
    border: 5px solid black;
    background-color: #fff1ff;
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    place-content: center; 
}

.item-con-2 {
    border: 1px solid gray;
}
